@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

:root {
    --base-color: #ffcccc;
    --secondary-color: #e76600; 
    --link-link-color: orange;
    --link-hover-color: orangered;
}

* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    font-family: 'Pathway Gothic One', sans-serif;
}

html {
    background-color:black;
    color: var(--base-color);
}

body {
    margin-top: 1.5rem;
}

header {
    padding-bottom: 3rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

ul#rrss {
    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

ul#rrss path {
    fill: var(--base-color);
}

ul#rrss li {
    width:3rem;
    list-style-type: none;
}

div#menu-hamburguesa {
    width: 4rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3rem

}

section#servicios h2 {
    flex: 1 100%;
    margin-bottom: 1.5rem;
}

section#servicios {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    background-color:rgb(117 108 98);
    background-image: url("../img/background-servicios.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    
}

section#servicios ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    padding: 0;
}

.card {
    border-top: 2px solid var(--base-color);
    border-bottom: 2px solid var(--base-color);
    border-radius: 1rem;
    
    width: 18rem;
    margin: 0.2rem;
    }

section#servicios figure img {
    height: 100%;
    border-radius: 0.5rem;
}

li.card a {
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
    
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2.7rem;
}