@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --base-color: #ffcccc;
    --secondary-color: #e76600; 
    --link-link-color: orange;
    --link-hover-color: orangered;
}

* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    font-family: 'Pathway Gothic One', sans-serif;
}

html {
    background-color:black;
    color: var(--base-color);
}

body {
    margin-top: 1.5rem;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

ul#rrss {
    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

ul#rrss path {
    fill: white;
}

ul#rrss a:focus path, 
ul#rrss a:hover path {
    fill: var(--secondary-color);
}

ul#rrss li {
    width:3rem;
    list-style-type: none;
}

div#menu-hamburguesa {
    width: 4rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

section#nosotros {
    padding: 2rem;
    background-color: #ffffff;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #000000;
    font-family: 'Playfair Display';
}

section#nosotros p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: justify;
    text-size-adjust: 100%;
    color: #000000;
    font-family: 'Montserrat';
}


section#servicios h2 {
    color: black;
    flex: 1 100%;
}

section#servicios {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    background-color:rgb(117 108 98);
    background-image: url("../img/background-servicios.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-top: 0.2rem solid white;
    border-bottom: 0.2rem solid white;
}

section#servicios ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    padding: 0;
}

section#foto1 {
    background-image: url("../img/foto-pilar-barbudo-gaussiano.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

div#covid p {
    font-size: 2rem;
    color: white;
    font-family: 'Playfair Display';
    text-align: center;
}

div#covid {
    padding: 2rem;
    background-color: rgb(46, 74, 199);
}

.card {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 70%);
    width: 18rem;
    margin: 0.2rem;
    }

section#servicios figure img {
    height: 100%;
    border-radius: 0.5rem;
}

li.card a {
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
    
    text-decoration: none;
    color: #ffffff;
    font-size: 2.7rem;
}