@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

:root {
    --base-color: #ffcccc;
    --secondary-color: #e76600; 
    --link-link-color: orange;
    --link-hover-color: orangered;
}

* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    font-family: 'Pathway Gothic One', sans-serif;
}

html {
    color: var(--base-color);
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0;
    background-color:black;
    min-height: 25vh;
}

ul#rrss {
    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

ul#rrss path {
    fill: white;
}

ul#rrss a:focus path, 
ul#rrss a:hover path {
    fill: var(--secondary-color);
}

ul#rrss li {
    width:3rem;
    list-style-type: none;
}

@media (min-width : 769px) {
    ul#rrss {
        width: 40%;
    }
}

div#menu-hamburguesa {
    width: 4rem;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
    border-radius: 5px;
}

#menu {
    position: fixed;
    top: 0rem;
    right: -100rem;
    z-index: 75;
    /*
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), 
                                                rgba(0,0,0,0.95),
                                                rgba(0,0,0,0.92),
                                                rgba(0,0,0,0.90),
                                                rgba(0,0,0,0));
    */
    background-image: url('../img/foto-menu-desplegable.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1.5rem;
    padding-top: 5rem;
    height: 100vh;
    width: 250px;
    border-left: 5px solid #d8b251;
}

#menu-back {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

#menu li {
    padding: 3.5rem 0;;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

#menu li:last-child {
    border-bottom: none;
}

#menu a {
    font-size: 2rem;
    font-family: 'Montserrat';
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    background-color: white;
}

section#nosotros {
    padding: 2rem;
    background-color: #ffffff;
}

section#valores {
    padding: 2rem 0;
    background-color:#d8b251;
}

@media (min-width : 769px) {
    section#valores {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }

    .valores-elemento {
        display: inline-block;
        flex: 1;
    }
}


.valores-elemento {
    margin: 0 6rem;
}

.valores-elemento p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
    text-size-adjust: 100%;
    color: #000000;
    font-family: 'Montserrat';
}

.valores-elemento h2 {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    text-align: center;
    color: #000000;
    font-family: 'Caveat', cursive;
}

ul#rrss .current-page path {
    fill: #e76600;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    text-align: center;
    color: #000000;
    font-family: 'Caveat', cursive;
}

section#nosotros p {
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1.5rem;
    text-align: center;
    text-size-adjust: 100%;
    color: #000000;
    font-family: 'Montserrat';
}

section#servicios h2 {
    flex: 1 100%;
    color: #feff00;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    font-weight: lighter;
    font-family: 'Fredericka the Great', cursive;
}


section#servicios {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    padding: 1rem;
    background-color: black;
    background-image: url("../img/background-servicios.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
}

section#servicios ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    width: 70%;
    height: 50%;
}



.card {
    border-left: 2px solid #feff00;
    border-right: 2px solid #feff00;
    border-radius: 5px;
    background-color: rgb(243 240 237 / 32%);
    margin: 0.6rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.card p {
    color: #feff00;
    font-size: 2.7rem;
}

@media (min-width : 769px) {
    section#servicios ul {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }

    .card {
        flex: 1 30%;
        height: 100%;
    }

    .card:hover {
        cursor: pointer;
        border-left: 2px solid rgb(243, 240, 237);
        border-right: 2px solid  rgb(243, 240, 237);
        background-color: rgb(254, 255, 0, 0.32);
    }

    .card:hover p{
        color: rgb(243, 240, 237);
    }
}

@media (min-width : 769px) {
    section#tips {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }

    section#tips section {
        flex: 1;
    }
}

section#foto1 {
    background-image: url("../img/foto-pilar-barbudo-gaussiano.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

section#tips h2 {
    font-family: 'Playfair Display';
    font-size: 2.5rem;
}

section#tips p {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    text-align: center;
    color: black;
    height: 5rem;
}

section#tips img{
    width: 100%;
}

section#tips section {
    margin-bottom: 3rem;
}

.tip-content {
    margin: 1.5rem 0;
    padding: 0 3rem;
}

section#tahe {
    height: 400px;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

section#tahe p {
    font-size: 3rem;
    color: #000000;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Caveat', cursive;
}

section#tahe a {
    font-size: 4rem;
    font-family: 'Playfair Display';
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-radius: 8px;
    padding: 1.5rem;
}

section#tahe a:hover {
    box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.6);
}

main#tahe-productos section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

main#tahe-productos h2 {
    font-size: 3rem;
    margin: 0 1.5rem;
    color: #000000;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Caveat', cursive;
}

main#tahe-productos p {
    font-size: 1.5rem;
    margin: 0 1.5rem;
    color: #000000;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Montserrat';
}
section#marca {
    background-color: white;
    padding-bottom: 2rem;
    min-height: 40vh;
}

section#blog {
    background-color: #e7b6b6;
    padding: 2rem;
    min-height: 35vh;
}

section#blog a {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(150 119 146);
    background-color: white;
    padding: 1rem;
    font-family: 'Playfair Display';
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

div#covid p {
    font-size: 2rem;
    color: white;
    font-family: 'Playfair Display';
    text-align: center;
    margin-bottom: 1rem;
}

#covid #hashtag {
    color: yellow;
    font-weight: bold;
}

div#covid {
    padding: 2rem;
    background-color: rgb(222 21 99);
}

section#servicios figure img {
    height: 100%;
    border-radius: 0.5rem;
}

section#address {
    background-image: url(../img/salon-centro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    min-height: 27vh;
}

section#address h2 {
    font-size: 3rem;
    font-family: 'Caveat', cursive;
    text-align: center;
    color: #e76600;
    margin-bottom: 0;
}

section#address p {
    font-size: 2rem;
    font-family: 'Playfair Display';
    text-align: center;
    color: white;
}

section#address a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 2rem;
    color: #e76600;
}

div.box {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #000000da;
    padding: 3rem 2rem;
}
